[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "==1.10.0"
gflownet = {file = "https://github.com/alexhernandezgarcia/gflownet/archive/main.zip"}
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
